body {
	background-color: #fc9403
}

#console {
	font-family: courier, monospace;
	color: white;
	width:750px;
	margin: 0;
	margin-right:auto;
	overflow-x: hidden;
	font-size:0.9rem;
	text-align: center;
	overflow-y: hidden;
	padding: 0;
	max-width: 500px;
        margin: auto;
}

.video {
	position: fixed;
	right: 0;
        left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(5px) brightness(20%);
}

.links *:hover, a:hover {
    color: #cf2a1b;
    border-bottom: 2px solid var(--complimentary-two);
}

.links {
color: #e87909;
}

a {
	color: #e38527;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
d
