@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans TC', sans-serif;
    height: auto;
    width: auto;
    text-align: center;
}

.center-content img {
    height: 8rem;
    margin: 0.5rem;
}

.video {
    min-width: 100%; 
    min-height: 100%; 

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span {
    cursor: pointer;
}

.discord {
    font-size: 3rem;
    margin: 1rem;
}