body {
	background-color: #4287f5
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin: 0;
	margin-right:auto;
	overflow-x: hidden;
	font-size:0.8rem;
	text-align: center;
	overflow-y: hidden;
	padding: 0;
	max-width: 500px;
        margin: auto;
}


.links *:hover, a:hover {
    color: orange;
    border-bottom: 2px solid var(--complimentary-two);
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
d
